<header role="banner">
    <hgroup>
        <h1><a href="<%- url_for() %>"><%= config.title %></a></h1>
        <% if (theme.subtitle){ %>
            <h2><%= theme.subtitle %></h2>
        <% } %>
    </hgroup>
</header>