<section class="<%=sectionClass%>">
    <h1>GitHub Repos</h1>
    <ul id="gh_repos">
        <li class="loading">Status updating&#8230;</li>
    </ul>

    <a href="https://github.com/<%=theme.sidebars.github%>">@<%=theme.sidebars.github%></a> on GitHub

    <script>
        $(document).ready(function(){
            const options = {
                user: '<%=theme.sidebars.github%>',
                count: 0,
                skip_forks: true,
                target: '#gh_repos'
            }

            function escapeHtml(str) {
                return $('<div/>').text(str).html();
            }

            function render(target, repos){
                let i, fragment = '', t = $(target)[0];

                for(i = 0; i < repos.length; i++) {
                    fragment += '<li><a href="'+repos[i].html_url+'">'+repos[i].name+'</a><p>'+escapeHtml(repos[i].description||'')+'</p></li>';
                }
                t.innerHTML = fragment;
            }

            $.ajax({
                url: "https://api.github.com/users/"+options.user+"/repos?sort=pushed&callback=?",
                dataType: 'jsonp',
                error: function (err) {
                    $(options.target + ' li.loading').addClass('error').text("Error loading feed");
                },
                success: function(data) {
                    var repos = [];
                    if (!data || !data.data) { return; }
                    for (var i = 0; i < data.data.length; i++) {
                        if (options.skip_forks && data.data[i].fork) { continue; }
                        repos.push(data.data[i]);
                    }
                    if (options.count) { repos.splice(options.count); }
                    render(options.target, repos);
                }
            });
        });
    </script>
</section>