<section class="<%=sectionClass%>">
    <h1>GitHub Repos</h1>
    <ul id="gh_repos">
        <li class="loading">Status updating&#8230;</li>
    </ul>

    <a href="https://github.com/<%=theme.sidebars.github%>">@<%=theme.sidebars.github%></a> on GitHub

    <script defer>
        const htmlEscaper = document.createElement('textarea');
        const target = document.getElementById('gh_repos');

        function request () {
            const ghUser = '<%=theme.sidebars.github%>';
            const url = `https://api.github.com/users/${ghUser}/repos?sort=pushed`;

            return fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
        }

        function renderError () {
            target.classList.add('error');
            target.innerText = 'Error loading feed';
        }

        function renderRepo (repo) {
            return `<li>
                <a href="${repo.html_url}">${repo.name}</a>
                <p>${escapeHTML(repo.description || '')}</p>    
            </li>`;
        }

        function escapeHTML (text) {
            htmlEscaper.innerHTML = text;
            return htmlEscaper.value;
        }

        request()
            .then(response => response.json())
            .then(results => {
                if (!results) return;
                results.forEach(result => {
                    const repoHTML = renderRepo(result);
                    target.insertAdjacentHTML('beforeend', repoHTML);
                });
            })
            .catch(renderError);
    </script>
</section>