<div class="sharing">
    <%if (theme.social.twitter) { %>
        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet?text=<%=encodeURIComponent(page.title)%>">
            Tweet
        </a>
    <% } %>
</div>